.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 40px;
}
.tab {
    border-top: 2px solid #00000050;
    margin-top: 20px;
}
.tab__title {
    font-size: 32px;
    line-height: 34px;
}
.tab__cross {
    font-size: 32px;
    line-height: 34px;
    transform: rotate(45deg);
}
.tab__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.tab__image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.tab__image {
    width: 100%;
    max-width: 740px;
    height: auto;
}
